* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	color: #33272a;
	background-color: #fffffe;
	margin: 1.5em 3em;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner .heading {
	font-size: 2.3em;
}

#new-book-button {
	background-color: #dfdfdf;
	border-radius: 2em;
	font-weight: bold;
	font-size: 1em;
	padding: 1em 3em;
	border: none;
	text-align: center;
}

.book-stats {
	font-weight: bold;
}

#new-book-button:hover {
	background-color: #d5d4d4;
}

.new-book-form {
	display: none;
}

.show-form {
	display: flex;
	flex-direction: column;
	font-size: 1.3em;
	gap: 0.5em;
}

/*MODAL BOX*/
.show-form {
	width: 400px;
	background-color: #fec5d2;

	border-radius: 1.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 1em;
}

.show-form input,
.haveReadContainer {
	border-radius: 1em;
	padding: 1em;
	border: none;
	font-size: 1em;
	outline: none;
}

.haveReadContainer {
	display: flex;
	align-items: center;
	gap: 1em;
}

.show-form #haveRead {
	height: 1em;
	width: 1em;
}

.show-form #submitButton {
	background-color: #c3f0ca;
}

.show-form #submitButton:hover {
	background-color: #a9d1af;
}

.library-container {
	margin-top: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2em;
}

.book-card {
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	background-color: #dfdfdf;
	border-radius: 2em;
}

/*BOOK CARD PROPERTIES*/

.title {
	font-weight: bold;
	font-size: 1.7em;
	margin: 0;
}

.author {
	font-weight: 400;
	font-size: 1.5em;
	margin: 0;
}

.numPages {
	font-size: 1.2em;
	margin: 0;
}

.buttonContainer {
	display: flex;
	gap: 1em;
}

.haveRead,
.deleteButton {
	margin: 0;
	padding: 0.5em 3em;
	border-radius: 2em;
	border: none;
	height: 4em;
}

.haveRead:hover {
	background-color: #d5d4d4;
}

.deleteButton {
	background-color: rgb(236, 154, 154);
}

.deleteButton:hover {
	background-color: rgb(216, 116, 116);
}
